




<!-- Cards with media area -->





<div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayout.xs="column">
<mat-card class="example-card">

    <mat-toolbar color="primary">Add Customer</mat-toolbar>
    <mat-card-content>
        <mat-divider ></mat-divider>
        <form [formGroup]="customerData">
          <div fxLayout="row wrap" fxLayoutGap="10px grid">

        <div fxFlex="50" fxFlex.lt-sm="100" >

            <mat-form-field appearance="outline">
              <mat-label>Add Name field</mat-label>
              <input matInput placeholder="Customer Name" formControlName="customer_name">

            </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-sm="100" >
            <mat-form-field appearance="outline">
              <mat-label>Add Address field</mat-label>
              <input matInput placeholder="Customer address" formControlName="customer_address">

            </mat-form-field>
        </div>

        <div fxFlex="50" fxFlex.lt-sm="100" >

                <mat-form-field appearance="outline">
                  <mat-label>Add Mobile field</mat-label>
                  <input matInput placeholder="Customer Mobile" formControlName="customer_mobile">

                </mat-form-field>
        </div>
        <div fxFlex="50" fxFlex.lt-sm="100" >
                <mat-form-field appearance="outline">
                  <mat-label>Credit Limit field</mat-label>
                  <input matInput placeholder="Add Credit Limit" formControlName="credit_limit">

                </mat-form-field>

          </div>

          </div>
        </form>
        <mat-divider ></mat-divider>
        <mat-card-actions align="end">
            <button type="button" (click)="customerFormData(customerData)" mat-raised-button color="primary">Add</button>
        </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
