

<table border="1" rules="all">
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Sale Price</th>
      <th>MRP</th>
      <th>Description</th>
      <th>Unit</th>
      <th>Category</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let p1 of prod" (click)="purchaseProduct(p1)">
        <td>{{p1.id}}</td>
        <td>{{p1.product_name}}</td>
        <td>{{p1.product_sale_price | currency:'INR'}}</td>
        <td>{{p1.product_mrp | currency:'INR'}}</td>
        <td>{{p1.product_description}}</td>
        <td>{{p1.product_unit}}</td>
        <td>{{p1.product_category}}</td>
        <td><button type="button"  mat-raised-button color="primary">Purchase</button> </td>
    </tr>
</table>