
table {
    width: 100%;
  }

  .tabwrap{
    width: 100%;
  overflow-x: auto;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-align{
    justify-content: center;
  }

  .example-spacer {
    flex: 1 1 auto;
  }
