





<!-- Cards with media area -->





<div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayout.xs="column">
<mat-card class="example-card">

    <mat-toolbar color="primary">Add Category</mat-toolbar>
    <mat-card-content>
        <mat-divider ></mat-divider>
        <form [formGroup]="categoryData">


        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="10px grid">

                <mat-form-field appearance="outline">
                  <mat-label>Add Type field</mat-label>
                  <input matInput placeholder="Category Type" formControlName="category_type">

                </mat-form-field>


            <mat-form-field appearance="outline">
              <mat-label>Add Name field</mat-label>
              <input matInput placeholder="Category Name" formControlName="category_name">

            </mat-form-field>


        </div>


        </form>
        <mat-divider ></mat-divider>
        <mat-card-actions align="end">
            <button type="button" (click)="categoryFormData(categoryData)" mat-raised-button color="primary">Add</button>
        </mat-card-actions>
    </mat-card-content>
  </mat-card>
</div>
