
.example-card {
    max-width: 600px;
    margin: 28px;
  }

  mat-card-content{
    margin-top: 30px;
  }

  table,tr,td{

    padding-right:30px;
    padding-top: 10px;
  }
  .rsize{
    resize: none;
    height: 10px;
  }

  mat-form-field{
    width:100%;
  }
